# Exercício 9

Baixe o dataset anexo nesta aula, que foi gerado a partir da base FAOSTAT e refere-se a dados de produção e produtividade de commodities selecionadas para alguns países, entre 2016-2018. Siga os passos abaixo:

* Leia o dataset e armazene em uma variável;

* Imprima o shape do dataset;

* Imprima informações do dataset;

* Imprima o tipo de dado de cada coluna;

* Remova as colunas: 'Domain Code', 'Domain', 'Area Code', 'Element Code', 'Item Code', 'Year Code', 'Flag', 'Flag Description';

* Converta o dtype da coluna Value para float.

In [1]:
# importando a biblioteca Pandas

import pandas as pd

In [2]:
# lendo o dataset e armazenando em uma variável 'df'

df = pd.read_csv('/content/FAOSTAT_data_12-5-2020.csv')

In [3]:
df.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QC,Crops,9,Argentina,5419,Yield,515,Apples,2016,2016,hg/ha,223912,Fc,Calculated data
1,QC,Crops,9,Argentina,5419,Yield,515,Apples,2017,2017,hg/ha,235386,Fc,Calculated data
2,QC,Crops,9,Argentina,5419,Yield,515,Apples,2018,2018,hg/ha,213072,Fc,Calculated data
3,QC,Crops,9,Argentina,5510,Production,515,Apples,2016,2016,tonnes,458908,NaN,Official data
4,QC,Crops,9,Argentina,5510,Production,515,Apples,2017,2017,tonnes,458908,NaN,Official data

In [4]:
# imprimindo o shape do dataset

df.shape

(66, 14)

Ou seja, o dataset tem 66 linhas e 14 colunas.

In [5]:
# imprimindo as infos do dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       66 non-null     object
 1   Domain            66 non-null     object
 2   Area Code         66 non-null     int64
 3   Area              66 non-null     object
 4   Element Code      66 non-null     int64
 5   Element           66 non-null     object
 6   Item Code         66 non-null     int64
 7   Item              66 non-null     object
 8   Year Code         66 non-null     int64
 9   Year              66 non-null     int64
 10  Unit              66 non-null     object
 11  Value             66 non-null     int64
 12  Flag              43 non-null     object
 13  Flag Description  66 non-null     object
dtypes: int64(6), object(8)
memory usage: 7.3+ KB

In [6]:
# imprimindo o tipo de dado de cada coluna

df.dtypes

Domain Code         object
Domain              object
Area Code            int64
Area                object
Element Code         int64
Element             object
Item Code            int64
Item                object
Year Code            int64
Year                 int64
Unit                object
Value                int64
Flag                object
Flag Description    object
dtype: object

In [8]:
# Remova as colunas: 'Domain Code', 'Domain', 'Area Code', 'Element Code', 'Item Code', 'Year Code', 'Flag', 'Flag Description';

colunas = ['Domain Code', 'Domain', 'Area Code', 'Element Code', 'Item Code', 'Year Code', 'Flag', 'Flag Description']

df.drop(columns=colunas, inplace = True)

In [9]:
df

                        Area     Element      Item  Year    Unit     Value
0                  Argentina       Yield    Apples  2016   hg/ha    223912
1                  Argentina       Yield    Apples  2017   hg/ha    235386
2                  Argentina       Yield    Apples  2018   hg/ha    213072
3                  Argentina  Production    Apples  2016  tonnes    458908
4                  Argentina  Production    Apples  2017  tonnes    458908
..                       ...         ...       ...   ...     ...       ...
61  United States of America       Yield  Tomatoes  2017   hg/ha    886625
62  United States of America       Yield  Tomatoes  2018   hg/ha    968079
63  United States of America  Production  Tomatoes  2016  tonnes  12877049
64  United States of America  Production  Tomatoes  2017  tonnes  11141862
65  United States of America  Production  Tomatoes  2018  tonnes  12612139

[66 rows x 6 columns]

In [10]:
# convertendo o tipo de dados da coluna 'Value' para float

df['Value'] = df['Value'].astype('float')

In [11]:
df.dtypes

Area        object
Element     object
Item        object
Year         int64
Unit        object
Value      float64
dtype: object

# Exercício 10

Após as operações realizadas no exercício 9, salve o dataset no formato CSV.

In [13]:
df.to_csv('FAOSTAT_modificado.csv', index = False, sep = ';')